{% extends 'layouts/base.html' %}
{% load static %}
{% load js %}

{% block content %}
<div class="container-fluid py-4 px-5">
    <div class="row justify-content-center mb-3 mt-3">
            <div class="card heading" style="border-radius: 1rem; width: 100%;">
                <div class="card-body container-fluid">
                    <h5 class="card-title text-center text-capitalize ">{{ stock.symbol }}</h5>
                    <div class="row">
                        <!-- Company Details Column -->
                        <div class="col-xl-12 mb-xl-0">
                            <div class="card">
                                <div class="card-body p-3">
                                    <div class="row align-items-center">
                                        <!-- Company Name -->
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                <i class="ni ni-building text-lg opacity-10" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p class="text-sm mb-1 text-capitalize font-weight-bold" style="color: #606F7B;">Company Name</p>
                                            <h5 class="font-weight-bolder mb-0">{{ stock.stock_details.company_name }}</h5>
                                        </div>
                                        <!-- BSE ID -->
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                <i class="ni ni-chart-bar-32 text-lg opacity-10" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p class="text-sm mb-1 text-capitalize font-weight-bold" style="color: #606F7B;">BSE ID</p>
                                            <h5 class="font-weight-bolder mb-0">{{ stock.stock_details.bse_id }}</h5>
                                            <a href="{{ stock.stock_details.bse_url }}" target="_blank" class="text-decoration-none">View on BSE</a>
                                        </div>
                                        <!-- NSE ID -->
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                <i class="ni ni-chart-pie-35 text-lg opacity-10" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p class="text-sm mb-1 text-capitalize font-weight-bold" style="color: #606F7B;">NSE ID</p>
                                            <h5 class="font-weight-bolder mb-0">{{ stock.stock_details.nse_id }}</h5>
                                            <a href="{{ stock.stock_details.nse_url }}" target="_blank" class="text-decoration-none">View on NSE</a>
                                        </div>
                                        <!-- Website -->
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                <i class="ni ni-air-baloon text-lg opacity-10" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p class="text-sm mb-1 text-capitalize font-weight-bold" style="color: #606F7B;">Website</p>
                                            <a href="{{ stock.stock_details.website }}" target="_blank" class="text-decoration-none">{{ stock.stock_details.website }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Financial Metrics Columns (Market Cap, Current Price, Book Value, Dividend Yield) -->
                        <div class="col-xl-12">
                            <div class="row">
                                <!-- Market Cap -->
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <div class="numbers">
                                                        <p class="text-sm mb-0 text-capitalize font-weight-bold" style="color: #606F7B;">Market Cap</p>
                                                        <h5 class="font-weight-bolder mb-0">{{ stock.company_ratios.market_cap }}</h5>
                                                    </div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                        <i class="ni ni-basket text-lg opacity-10" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Current Price -->
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <div class="numbers">
                                                        <p class="text-sm mb-0 text-capitalize font-weight-bold" style="color: #606F7B;">Current Price</p>
                                                        <h5 class="font-weight-bolder mb-0">{{ stock.company_ratios.current_price }}</h5>
                                                    </div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                        <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Book Value -->
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <div class="numbers">
                                                        <p class="text-sm mb-0 text-capitalize font-weight-bold" style="color: #606F7B;">Book Value</p>
                                                        <h5 class="font-weight-bolder mb-0">{{ stock.company_ratios.book_value }}</h5>
                                                    </div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                        <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <div class="numbers">
                                                        <p class="text-sm mb-0 text-capitalize font-weight-bold" style="color: #606F7B;" style="color: #606F7B;">ROCE</p>
                                                        <h5 class="font-weight-bolder mb-0">{{ stock.company_ratios.roce }}</h5>
                                                    </div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <!-- ROE -->
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <div class="numbers">
                                                        <p class="text-sm mb-0 text-capitalize font-weight-bold" style="color: #606F7B;" style="color: #606F7B;">ROE</p>
                                                        <h5 class="font-weight-bolder mb-0">{{ stock.company_ratios.roe }}</h5>
                                                    </div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                        <i class="ni ni-key-25 text-lg opacity-10" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <!-- Face Value -->
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <div class="numbers">
                                                        <p class="text-sm mb-0 text-capitalize font-weight-bold" style="color: #606F7B;" style="color: #606F7B;">Face Value</p>
                                                        <h5 class="font-weight-bolder mb-0">{{ stock.company_ratios.face_value }}</h5>
                                                    </div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                        <i class="ni ni-bag-17 text-lg opacity-10" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <!-- High/Low -->
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <div class="numbers">
                                                        <p class="text-sm mb-0 text-capitalize font-weight-bold" style="color: #606F7B;" style="color: #606F7B;">High/Low</p>
                                                        <h5 class="font-weight-bolder mb-0">{{ stock.company_ratios.high___low }}</h5>
                                                    </div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                        <i class="ni ni-spaceship text-lg opacity-10" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <!-- Stock P/E -->
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <div class="numbers">
                                                        <p class="text-sm mb-0 text-capitalize font-weight-bold" style="color: #606F7B;" style="color: #606F7B;">Stock P/E</p>
                                                        <h5 class="font-weight-bolder mb-0">{{ stock.company_ratios.stock_p_e }}</h5>
                                                    </div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                        <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Dividend Yield -->
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <div class="numbers">
                                                        <p class="text-sm mb-0 text-capitalize font-weight-bold" style="color: #606F7B;">Dividend Yield</p>
                                                        <h5 class="font-weight-bolder mb-0">{{ stock.company_ratios.dividend_yield }}</h5>
                                                    </div>
                                                </div>
                                               <div class="col-4 text-end">
                                                    <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                                                        <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
        </div>
    </div>
    
    <div class="row justify-content-center mb-3">
            <div class="card" style="border-radius: 1rem; width: 100%;">
                <div class="card-header d-flex justify-content-between align-items-center"  style="border-radius: 1rem; border-bottom: 0px; background-color: #FFFFFF;">
                    <h5 class="card-title mb-0" style="font-family: 'Arial', sans-serif; font-size: 1.8rem; font-weight: 600; color: #1b0477;">Stock Chart</h5>
                    <div class="dropdown">
                        <button class="btn bg-gradient-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Select Data
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#" data-graph="Price">Price</a></li>
                            <li><a class="dropdown-item" href="#" data-graph="DMA50">50 DMA</a></li>
                            <li><a class="dropdown-item" href="#" data-graph="DMA200">200 DMA</a></li>
                            <li><a class="dropdown-item" href="#" data-graph="Volume">Volume</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="stock-chart" class="chart-canvas p-4" style="max-height: 40vh;"></canvas>
                </div>
            </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="card shadow border-radius-lg p-0" style="border-radius: 1rem; width: 100%;">
            <div class="card-header" style="border-radius: 1rem; border-bottom: 0px; background-color: #FFFFFF;">
                <h5 class="card-title mb-0" style="font-family: 'Arial', sans-serif; font-size: 1.5rem; font-weight: 600; color: #1b0477;">Peers Comparison</h5>
            </div>
            <div class="table-responsive" style="border-radius: 1rem;">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            
                            <th scope="col" class="text-left" style="font-weight: bold; padding-left: 24px; color: #495057;">S.No</th>
                            <th scope="col" class="text-left" style="font-weight: bold; padding-left: 24px; color: #495057;">Company Name</th>
                            <th scope="col" class="text-left" style="font-weight: bold; padding-left: 24px; color: #495057;">CMP Rs.</th>
                            <th scope="col" class="text-left" style="font-weight: bold; padding-left: 24px; color: #495057;">P/E</th>
                            <th scope="col" class="text-left" style="font-weight: bold; padding-left: 24px; color: #495057;">Market Cap Rs.Cr.</th>
                            <th scope="col" class="text-left" style="font-weight: bold; padding-left: 24px; color: #495057;">Div Yld %</th>
                            <th scope="col" class="text-left" style="font-weight: bold; padding-left: 24px; color: #495057;">NP Qtr Rs.Cr.</th>
                            <th scope="col" class="text-left" style="font-weight: bold; padding-left: 24px; color: #495057;">Qtr Profit Var %</th>
                            <th scope="col" class="text-left" style="font-weight: bold; padding-left: 24px; color: #495057;">Sales Qtr Rs.Cr.</th>
                            <th scope="col" class="text-left" style="font-weight: bold; padding-left: 24px; color: #495057;">Qtr Sales Var %</th>
                            <th scope="col" class="text-left" style="font-weight: bold; padding-left: 24px; color: #495057;">ROCE %</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for peer in stock.peers|slice:":-1" %}
                        <tr>
                            {% for key, value in peer %}
                                {% if value %}
                                    <td class="text-left" style="padding-left: 24px;">{{ value }}</td>
                                {% else %}
                                    <td class="text-left" style="padding-left: 24px;"></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                        <tr class="table-dark">
                            {% for key, value in stock.peers|last %}
                                {% if value %}
                                    <td class="text-left h6" style="padding-left: 24px;">{{ value }}</td>
                                {% else %}
                                    <td class="text-left" style="padding-left: 24px;"></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


   
   
        <!--quarterly results-->

       
            <div class="row justify-content-center mb-3">
                <div class="card shadow border-radius-lg p-0" style="border-radius: 1rem; width: 100%;">
                    <div class="card-header" style="border-radius: 1rem; border-bottom: 0px; background-color: #FFFFFF;">
                        <h5 class="card-title mb-0" style="font-family: 'Arial', sans-serif; font-size: 1.5rem; font-weight: 600; color: #1b0477;">Quarterly Results</h5>
                        <p class="h6 pb-0" style="text-align: right;">Consolidated Figures in Rs. Crores</p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-sm">
                            <thead class="thead-light fw-bold">
                                <tr>
                                    <th>Category</th>
                                    {% for quarter in stock.quarters|slice:":1" %}
                                        {% for key, value in quarter %}
                                        {% if key != 'Unnamed: 0' %}
                                        <th style="font-weight: bold; padding-left: 24px;">{{ key }}</th>
                                        {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for quarter in stock.quarters %}
                                    <tr>
                                        {% for key, value in quarter %}
                                            <td style="padding-left: 24px;" class="text-left">{{ value }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                </div>
            </div>
        </div>




        <div class="row justify-content-center mb-3">
            <div class="card shadow border-radius-lg p-0" style="border-radius: 1rem; width: 100%;">
                <div class="card-header" style="border-radius: 1rem; border-bottom: 0px; background-color: #FFFFFF;">
                    <h5 class="card-title mb-0" style="font-family: 'Arial', sans-serif; font-size: 1.5rem; font-weight: 600; color: #1b0477;">Profit and Loss</h5>
                    <p class="h6" style="text-align: right;">Consolidated Figures in Rs. Crores</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th style="font-weight: bold; padding-left: 24px;"></th>
                                {% for p_l in stock.profit_loss|slice:":1"%}
                                    {% for key, value in p_l %}
                                        {% if key != 'Unnamed: 0'%}
                                            <th style="font-weight: bold; padding-left: 24px;">{{ key }}</th>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for p_l in stock.profit_loss %}
                                <tr>
                                    {% for key, value in p_l %}
                                        <td class="text-left" style="padding-left: 24px;">{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    <!-- #shareholing pattern -->


    <div class="row justify-content-center mb-3">
        <div class="card shadow border-radius-lg p-0" style="border-radius: 1rem; width: 100%;">
            <div class="card-header" style="border-radius: 1rem; border-bottom: 0px; background-color: #FFFFFF;">
                <h5 class="card-title mb-0" style="font-family: 'Arial', sans-serif; font-size: 1.5rem; font-weight: 600; color: #1b0477;">Shareholding Pattern Quarterly</h5>
                <p class="h6" style="text-align: right;">Numbers in percentages</p>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th style="font-weight: bold; padding-left: 24px;"></th>
                            {% for share in stock.shareholding_qtr|slice:":1" %}
                                {% for key, value in share %}
                                    {% if key != 'Unnamed: 0'%}
                                        <th style="font-weight: bold; padding-left: 24px;">{{ key }}</th>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for share in stock.shareholding_qtr %}
                            <tr>
                                {% for key, value in share %}
                                    <td class="text-left" style="padding-left: 24px;">{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- #shareholing pattern ANNUALLY -->


    <div class="row justify-content-center mb-3">
        <div class="card shadow border-radius-lg p-0" style="border-radius: 1rem; width: 100%;">
            <div class="card-header" style="border-radius: 1rem; border-bottom: 0px; background-color: #FFFFFF;">
                <h5 class="card-title mb-0" style="font-family: 'Arial', sans-serif; font-size: 1.5rem; font-weight: 600; color: #1b0477;">Shareholding Pattern Annually</h5>
                <p class="h6" style="text-align: right;">Numbers in percentages</p>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th style="font-weight: bold; padding-left: 24px;"></th>
                            {% for share in stock.shareholding_annual|slice:":1" %}
                                {% for key, value in share %}
                                    {% if key != 'Unnamed: 0'%}
                                        <th style="font-weight: bold; padding-left: 24px;">{{ key }}</th>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for share in stock.shareholding_annual %}
                            <tr>
                                {% for key, value in share %}
                                    <td class="text-left" style="padding-left: 24px;">{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--balance sheet-->
    <div class="row justify-content-center mb-3">
        <div class="card shadow border-radius-lg p-0" style="border-radius: 1rem; width: 100%;">
                <div class="card-header"  style="border-radius: 1rem; border-bottom: 0px; background-color: #FFFFFF;">
                    <h5 class="card-title mb-0" style="font-family: 'Arial', sans-serif; font-size: 1.5rem; font-weight: 600; color: #1b0477;">Balance Sheet</h5>
                    <p class = "h6" style = "text-align: right;"> Consolidated Figures in Rs. Crores</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th style="font-weight: bold; padding-left: 24px;"></th>
                                {% for balance in stock.balance_sheet|slice:":1" %}
                                    {% for key, value in balance %}
                                    {% if key != 'Unnamed: 0'%}
                                    <th style="font-weight: bold; padding-left: 24px;">{{ key }}</th>
                                    {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for balance in stock.balance_sheet %}
                                <tr>
                                    {% for key, value in balance %}
                                        <td class = "text-left" style="padding-left: 24px;">{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
                </div>
        </div>
    </div>

    <!--cash flow-->
    <div class="row justify-content-center mb-3">
        <div class="card shadow border-radius-lg p-0" style="border-radius: 1rem; width: 100%;">
                <div class="card-header"  style="border-radius: 1rem; border-bottom: 0px; background-color: #FFFFFF;">
                    <h5 class="card-title mb-0" style="font-family: 'Arial', sans-serif; font-size: 1.5rem; font-weight: 600; color: #1b0477;">Cash Flow</h5>
                    <p class = "h6" style = "text-align: right;"> Consolidated Figures in Rs. Crores</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th style="font-weight: bold; padding-left: 24px;"></th>
                                {% for cash in stock.cash_flow|slice:"1" %}
                                    {% for key, value in cash %}
                                    {% if key != 'Unnamed: 0'%}
                                    <th style="font-weight: bold; padding-left: 24px;">{{ key }}</th>
                                    {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for cash in stock.cash_flow %}
                                <tr>
                                    {% for key, value in cash %}
                                        <td class = "text-left "style="padding-left: 24px;">{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>

    <!--ratios-->
    <div class="row justify-content-center mb-3">
        <div class="card shadow border-radius-lg p-0" style="border-radius: 1rem; width: 100%;">
                <div class="card-header"  style="border-radius: 1rem; border-bottom: 0px; background-color: #FFFFFF;">
                    <h5 class="card-title mb-0" style="font-family: 'Arial', sans-serif; font-size: 1.5rem; font-weight: 600; color: #1b0477;">Ratios</h5>
                    <p class = "h6" style = "text-align: right;"> Consolidated Figures in Rs. Crores</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th style="font-weight: bold; padding-left: 24px;"></th>
                                {% for ratio in stock.ratios|slice:":1" %}
                                    {% for key, value in ratio%}
                                    {% if key != 'Unnamed: 0'%}
                                    <th style="font-weight: bold; padding-left: 24px;">{{ key }}</th>
                                    {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for ratio in stock.ratios %}
                                <tr>
                                    {% for key, value in ratio %}
                                        <td class = "text-left" style="padding-left: 24px;">{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>

<!-- Documents Section -->

    <div class="row justify-content-center mb-3">
        <div class="card shadow border-radius-lg p-0" style="border-radius: 1rem; width: 100%;">
            <div class="card-header" style="border-radius: 1rem; border-bottom: 0px; background-color: #FFFFFF;">
                <h5 class="card-title mb-0" style="font-family: 'Arial', sans-serif; font-size: 1.5rem; font-weight: 600; color: #1b0477;">Company Documents</h5>
            </div>
            <div class="d-flex flex-wrap justify-content-around pb-4">
                {% for category, documents in stock.company_documents.items %}
                    <div class="category-card card m-2" style="width: 23%; max-height: 300px;">
                        <div class="card-header">
                            <strong>{{ category }}</strong>
                        </div>
                        <ul class="list-group list-group-flush" style="overflow-y: auto; max-height: 250px;">
                            {% for document in documents %}
                                {% for title, link in document.items %}
                                    <li class="list-group-item">
                                        <a href="{{ link }}" target="_blank">{{ title }}</a>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


</div>
{% comment %} container ends {% endcomment %}

{% endblock %}

{% block extrascript %}
<!-- Load Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Load Chart.js and date adapter -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

<!-- Load custom JavaScript -->
<script src="{% static 'js/stock-charts.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>



<script type="text/javascript">
    // Pass stock data to the separate JS file
    var stockData = {{ stock|js }};
</script>
{% endblock extrascript %}