
/* required  */

.table{
    border-collapse: collapse;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color:#F8F8FC;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color:#FFFFFF;
}

.table 
.thead-light th {
    background-color: #FFFFFF;
}


.card-header{
    border-bottom: 20px solid #00468b;
}