
/* required  */

.table{
    border-collapse: collapse;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color:#F8F8FC;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color:#FFFFFF;
}

.table 
.thead-light th {
    background-color: #FFFFFF;
}


.card.heading .card-title{
    font-size: 2rem;
    font-weight: 800;
    color: #012a75;
}