.category-card {
    max-height: 400px;
    overflow: hidden;
}
.category-card .list-group-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category-card .card-footer {
    display: none;
}
.category-card .list-group-item:nth-child(n+4) {
    display: none;
}
.category-card .card-footer {
    display: block;
}

.card-title{

    font-size: 1.5rem;
    font-weight: 500;
    color: #cb1414;
    margin-bottom: 0.75rem;
}